<h1> SIGNALS </h1>
<input type="number" [value]="writableSignal().value" (change)="changeSignalValue($event)">
<button [disabled]="!writableSignal().isActive" (click)="substractSignalValue()"> Substract signal</button>

<h2> The signal value is {{ writableSignal().value }}</h2>
<button *ngIf="!writableSignal().isActive" (click)="enableDisableSignal()"> Enable computed signal
    dependency</button>
<button *ngIf="writableSignal().isActive" (click)="enableDisableSignal()"> Disable computed signal
    dependency</button>

<h2> The double computed signal value is {{ computedSignal() }}</h2>

<h1 style="margin-top: 64px;"> RXJS </h1>
<h2> The observable value is {{ (obs$ | async)!.value }}</h2>
<h2> The double computed observable value is {{ computedObs$ | async }}</h2>

<h1 style="margin-top: 64px;"> RXJS INTEROP </h1>
<h2> Observable -> Signal value is {{ obsToSignal().value }}</h2>
<h2> Double computed signal -> Observable value is {{ (computedSignalToObs$ | async) }}</h2>